<ion-view view-title="表单验证">
    <ion-content>


        <form name="form">

            <section class="list">
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label"></span>
                    <input type="text" ng-model="" placeholder="">
                </label>

            </section>

        </form>

    </ion-content>
</ion-view>
